section#nextar-home(data-section='home', style='background-image: url(images/full_image_2.jpg);', data-stellar-background-ratio='0.5')
    .gradient
    .container
        .text-wrap
            .text-inner
                .row
                    .col-xs-12.img-responsive
                        img(src='./images/home.jpg')
                        | Our mission is to build a reliable IT environment for the local businesses. Our services include data center solutions, network operation solutions, and business operation solutions.  From set-up to troubleshooting and maintenance, Nextar will be at your service within 48 hours of your call.
                    .text-wrapper.col-xs-12
                        h2.to-animate.text-center

