section#nextar-intro.clearfix(data-section='customers')
    .col-xs-12
        h1.text-left
            | Customers
    .col-xs-12.mt-20
        .col-md-6.col-xs-12
            h2.text-left
                | With existing customers from industries of IT, hospitality, finance, retail, and trading that are located in Cambodian areas of Penh Phnom, Poipet, and Sihanoukville as well as Thai areas; you can count on our wide network of support system and industry involvement to help your business thrive.
        .col-md-6.col-xs-12.img-responsive
            img(src='./images/customers.png')
