footer#footer(role='contentinfo')
    .container
        .row
            .col-md-6
                img.footer-img(src='./images/logo.png')
            .col-md-6.footer-text-wrapper
                p 
                    i.icon-home
                    | Nextar Trading Co., LTD.
                p 
                    i.icon-phone
                    | +855 975 292 191
                p
                    i.icon-mail2
                    | hanhai.nextar@gmail.com
                p
                    i.icon-location2
                    |#91 Street 294, SangkatBuoengKeng Kang 1 Khan Chamkamorn, Phnom Penh