header#nextar-header(role='banner')
    .container
        // <div class="row">
        nav.navbar.navbar-default
            .navbar-header
                // Mobile Toggle Menu Button
                a.js-fh5co-nav-toggle.fh5co-nav-toggle(href='#', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    i
                a.navbar-brand(href='index.html')
                    img(src='./images/logo.png')
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href='#', data-nav-section='home')
                            span Home
                    li
                        a(href='#', data-nav-section='Product')
                            span Product
                    li
                        a(href='#', data-nav-section='service')
                            span Services
                    li
                        a(href='#', data-nav-section='customers')
                            span Customers
                    li
                        a(href='#', data-nav-section='contact')
                            span Contact
        // </div>