section#nextar-contact(data-section='contact')
    .col-xs-12 
        h1.text-left Contact us
    .col-xs-12
        .col-md-6.col-xs-12
            #map.to-animate
        .col-md-6.col-xs-12.text-left.line-height50
            p 
                i.icon-home
                | Nextar Trading Co., LTD.
            p 
                i.icon-phone
                | +855 975 292 191
            p
                i.icon-mail2
                | nextar.svc.info@gmail.com
            p
                i.icon-location2
                |#91 Street 294, SangkatBuoengKeng Kang 1 Khan Chamkamorn, Phnom Penh
