section#nextar-intro.clearfix(data-section='Product')
    h1.text-left
        | Products
    h2.to-animate.text-center
        | We carry a wide range of hardware brands including Dell, IBM, Peplink, HP, ATEN, and Pioneer. It is also possible to tailor our package at your request to fit your current technical infrastructure.
    .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
        .overlay-darker
        .overlay
        .project-wrapper
            img(src="images/IPC-m.png", alt="")
            h2 IPC
            p Dell® / IBM®
    .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
        .overlay-darker
        .overlay
        .project-wrapper
            img(src="images/Router-m.png", alt="")
            h2 Network Device
            p Peplink® / HP®
    .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
        .overlay-darker
        .overlay
        .project-wrapper
            img(src="images/KVM-m.png", alt="")
            h2 KVM
            p ATEN®
    .project-block.to-animate(style='background-image: url(images/img_7.jpg);')
        .overlay-darker
        .overlay
        .project-wrapper
            img(src="images/game-pos1-m.png", alt="")
            h2 POS
            p Pioneer®