section#nextar-intro.clearfix(data-section='service')
    .col-xs-12
        h1.text-left
            | Services
    .col-xs-12
        .col-md-6.col-xs-12.img-responsive
            img(src='./images/services.jpg')
        .col-md-6.col-xs-12
            h1.text-left.servicetext DATA CENTER
            h2.text-left
                p Data Center Relocation
                p Disaster Recovery
                p Data Migration
                p Data Recovery
    .col-xs-12.mt-20
        .col-md-6.col-xs-12
            h1.text-left.servicetext NETWORK OPERATION
            h2.text-left
                p NOC Management
                p Network Design
                p Network Documentation
                p Router Configurations
        .col-md-6.col-xs-12.img-responsive
            img(src='./images/network.jpg')
    .col-xs-12.mt-20
        .col-md-6.col-xs-12.img-responsive
            img(src='./images/solution.jpg')
        .col-md-6.col-xs-12
            h1.text-left.servicetext BUSINESS OPERATION
            h2.text-left
                p POS Software and Hardware System
                p Accounting Software System
                p CRM Software System
                p Inventory Management Software System
